button.buttonAdd1 {
    background-color: darkgreen;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
    
}
button.buttonAdd1:hover {
    opacity: 0.9;
}

button.buttonChange1 {
    background-color: blue;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 25px;
}

    button.buttonChange1:hover {
        opacity: 0.9;
    }

button.buttonDelete1 {
    background-color: red;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 25px;
}

    button.buttonDelete1:hover {
        opacity: 0.9;
    }

#addNewElement {
    width: 350px;
    height: 120px;
    padding: 15px;
    border: 3px solid #000000;
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#ChangeElement {
    width: 350px;
    height: 120px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#DeleteElement {
    width: 360px;
    height: 55px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
button.buttonAdd2 {
    background-color: darkgreen;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

    button.buttonAdd2:hover {
        opacity: 0.9;
    }
#addNewElement2 {
    width: 350px;
    height: 120px;
    padding: 15px;
    border: 3px solid #000000;
    color: #000000;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}